# {{ ansible_managed }}
table inet egress_auditor
delete table inet egress_auditor
table inet egress_auditor {
    chain output {
        type filter hook output priority {{ egress_auditor_nflog_chain_priority }}; policy accept;
{% for rule in egress_auditor_nflog_bypass_rules %}
        {{ rule }}
{% endfor %}
        ct state new tcp dport != 0 log group {{ egress_auditor_nflog_group }} accept
        ct state new udp dport != 0 log group {{ egress_auditor_nflog_group }} accept
    }
}
